body {
  color: #251605;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: .85rem;
}

button span {
  color: lightgray;
  font-size: 2rem;
}

#top-navbar {
  padding: 0;
}

div.collapse a {
  text-transform: uppercase;
  color: lightgray;
  cursor: crosshair;
  font-weight: 700;
  font-size: 1.5rem;
}

div.collapse a:hover {
  color: #251605
}

.projects .main-pro {
  width: 420px;
  max-width: 420px;
  padding: 0 6px;
  height: 320px;
}

.projects a:hover {
  background-color: black;
  transform: scale(1.5);
}

.projects img {
  width: 240px;
  height: 180px;
  margin-bottom: 24px;
}

.projects a {
  color: #F87666;
  cursor: crosshair;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.projects p em {
  color: #F87666;
}

.title {
  margin: 240px 5%;
}

.connect {
  margin: auto 5%;
}

.connect p {
  padding-right: 12px;
}

.connect a {
  color: #251605;
  text-decoration: none;
  cursor: crosshair;
}

.scrolled {
  background: #F87666;
  transition: background 750ms;
}

@media all and (min-width:353px) {
  .title {
    margin: 240px 10%;
  }

  .connect {
    margin: auto 10%;
  }

  .connect p {
    padding-right: 36px;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.375rem;
  }
}

@media all and (min-width:195px) {
  .connect {
    display: flex;
  }
}