body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: .85rem;
}

span {
  color: lightgray;
  font-size: 2rem;
}

#top-navbar {
  padding: 0;
}

#top-navbar .navbar-brand {
  color: black;
  font-weight: 400;
  font-size: 1.5rem;
}

div.collapse a {
  text-transform: uppercase;
  color: lightgray;
  cursor: crosshair;
  font-weight: 700;
  font-size: 1.5rem;
}

div.collapse a:hover {
  color: black
}

.projects img {
  width: 360px;
  max-width: 400px;
  padding: 0 6px;
  height: 240px;
}

.title {
  margin: 240px 5%;
}

.connect {
  margin: auto 5%;
}

.connect p {
  padding-right: 12px;
}

.connect a {
  color: black;
  text-decoration: none;
  cursor: crosshair;
}

@media all and (min-width:353px) {
  .title {
    margin: 240px 20%;
  }

  .connect {
    margin: auto 20%;
  }

  .connect p {
    padding-right: 36px;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.375rem;
  }
}

@media all and (min-width:195px) {
  .connect {
    display: flex;
  }
}