body {
  color: #251605;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: .85rem;
}

button span {
  color: lightgray;
  font-size: 2rem;
}

#top-navbar {
  padding: 0;
}

div.collapse a {
  text-transform: uppercase;
  color: lightgray;
  cursor: crosshair;
  font-weight: 700;
  font-size: 1.5rem;
}

div.collapse a:hover {
  color: #251605
}

.projects .main-pro-img {
  width: 100%;
  max-width: 420px;
  padding: 0 6px;
}

.projects a:hover {
  border-radius: 6px;
  background-color: lightgray;
  transform: scale(1.5);
}

.projects img {
  width: 100%;
  margin-bottom: 24px;
}

.projects a {
  padding: 6px 12px;
  color: #732C2C;
  cursor: crosshair;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.projects p em {
  color: #732C2C;
  font-weight: 700;
}

.project {
  margin: 36px 0 80px;
}

.title {
  margin: 240px 5%;
}

.connect {
  margin: auto 5%;
}

.connect p {
  padding-right: 12px;
}

.connect a {
  color: #251605;
  text-decoration: none;
  cursor: crosshair;
}

.scrolled {
  background: #732C2C;
  transition: background 750ms;
}

@media all and (min-width:540px) {
  .projects .main-pro-img {
    width: 420px;
    max-width: 420px;
    padding: 0 6px;
    height: 320px;
  }

  .projects img {
    width: 240px;
    height: 180px;
    margin-bottom: 24px;
  }
}

@media all and (min-width:353px) {
  .title {
    margin: 240px 10%;
  }

  .connect {
    margin: auto 20%;
  }

  .personal {
    margin: 240px 20%;
  }

  .connect p {
    padding-right: 36px;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.375rem;
  }
}

@media all and (min-width:195px) {
  .connect {
    display: flex;
  }
}